# NestJS Server Configuration
PORT=3000

# Connection string for Neon cloud database (PostgreSQL)
# Format: postgresql://[user]:[password]@[neon-hostname]/[database]?sslmode=require
DATABASE_URL=postgresql://neondb_owner:password@ep-cool-fog-12345.aws.neon.tech/neondb?sslmode=require
